x64/
.vs/
SynthEmilion.VC.db
SynthEmilion.VC.VC.opendb
SynthEmilion/SynthEmilion.vcxproj.filters
SynthEmilion/SynthEmilion.vcxproj.user
UI/x64
UI/GeneratedFiles/Debug
UI/UI.vcxproj.user
Communication/x64
UiViewer/x64
UiViewer/GeneratedFiles/Debug
UiViewer/UiViewer.vcxproj.filters